div{
  background-color: rgb(6, 240, 61);
  height: 200px;
  width: 200px;
  font-size: 20px;
  text-align: center;
  /* border: solid black 3px; */
  transition: 0.7s;
  margin: 0 auto;
}

div:hover{
  box-shadow: 2px 2px 15px grey;
}